<h1 align="center">Liste des articles</h1>
	<div align="center">
		<%= will_paginate %>
	</div>
<%= link_to "Créer article", new_article_path %>
<%= render 'article', obj: @articles %>

<div align="center">
	<%= will_paginate %>
</div>

