
<div class="center jumbotron">
	<h1>Tourisme Blog</h1>
<!--<%= link_to "Blog de tourisme", articles_path %> | <%= link_to "About", about_path %>-->


<%=link_to "S'inscrire maintenant", signup_path, class: "btn btn-danger btn-lg btn-xlarge"%>
</div>

