<div class="container">
	<footer class="footer"
	<small>
		Copyright &copy; by Meriem Memmiche
    </small>

	<nav>
		<ul>
			<li><%=link_to "Contactez-nous", contact_path%></li>
		</ul>
	</nav>
</footer>
</div>